.classfeed{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 100vw;
}
.classfeed__middle{
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: flex-end;
}
