
.classmiddle__name{
  letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
} 
.classmiddle>p{
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  display: flex;
  align-items: center;
  justify-items: center;
}
.classmiddle__name:hover{
    background-color: whitesmoke;
    height: 4rem;
    width: fit-content;
    align-self: center;
    cursor: pointer;

}