.courseheader{
  height: 4rem;
  border-bottom: 1px solid #ccc;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.courseheader__left{
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex: 0.3;
}
.courseheader__left__name{
  margin-left: 15px;
  position: relative;
  top: -10px;
}
.courseheader__left__coursename{
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 550;
  line-height: 1.5rem;
  color: #3c4043;
}
.courseheader__left__section{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #3c4043;
  position: absolute;
  top: 1.4rem;
}
.courseheader__middle{
  display: flex;
  align-items: center;
  flex: 0.4;
  justify-content: center;
  
}

.courseheader__right{
  display: flex;
  align-items: center;
  margin-right: 25px;
  flex: 0.3;
  justify-content: flex-end;
}
.courseheader__icon{
  margin-right: 1.5rem;
  cursor: pointer;
}
.courseheader__model{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #3c4043;
}