.upcoming{
  width: 196px;
  height: 124px;
  border: 1px solid lightgray ;
  border-radius: 7px;
  flex: 0.19;
  position: relative;
  background-color: #fff;
  /* margin-top: 50px; */
}
.upcoming__list{
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: rgba(0,0,0,0.87);
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 0.8125rem;
    font-weight: 550;
    line-height: 1.25rem;
}
.upcoming__middle{
  margin-left: 10px;
  font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: rgba(0,0,0,0.549);
}
.upcoming__top{
  margin-left: 10px;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
    letter-spacing: .01785714em;
}