.classSettingEdit{
  display: flex;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  margin-top: 20px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}

.InputField{
  width: 650px;
  height: 56px;
  border-bottom: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 15px;
  background-color: #f1f3f4;
  outline: 0px;
  border-width: 0px;
  align-self: center;
  border-bottom-width:1px ;
  border-bottom-style:solid;
  border-bottom-color:black;

}
.InputField::placeholder{
  font-size: 17px;
  color: #8c8c8c;
  padding-left: 15px;

}
.ClassHeader{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
    color: #7627bb;
    fill: #7627bb;
}
.ButtonList{
  margin-left: auto;
  flex-direction: row;
  display: flex;
  
}
.button1{
  cursor: pointer;
    display: inline-block;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    margin-top: -10px;
    margin-right: 20px;
    width: 46px;
    height: 36px;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
}
.button1:hover{
background-color: whitesmoke;
}
.button2{
  cursor: pointer;
    display: inline-block;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    margin-top: -10px;
    margin-right: 20px;
    width: 46px;
    height: 36px;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;

}
.button2:hover{
  background-color: whitesmoke;
  }