body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 0px;
  

  margin: 0 auto;
}
.course__image__background{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.teacher__avatar{
  border-radius: 50%;
  padding-left: 20px;
  
}