.course{
  display:flex;
  align-items: center ;
  margin-right: 1.5rem;
  padding-bottom:1.6rem;
  cursor: pointer;

}
.course__details{
    width: 300px;
    height: 295px;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
}
.course__details:hover{
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 15%) ;


}
.course__image__faculty{
  position: absolute;
  left: 15px;
  top: 3.6rem;
  font: 13px Roboto,Helvetica,Arial, sans-serif;
  color: #fff;

}
.course__image {
  position: relative;
  border-radius: 10px;
}
.course__image__details{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -0.4rem;
  left: 15px;
}
.course__image__icon{

  color: #fff;
}
.course__image__name{
  
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width:250px;

}
.course__image__name:hover,.course__image__section__no:hover,.course__image__faculty:hover{
  text-decoration: underline;
}

.course__image__section__no{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #fff;
  position: absolute;
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width:250px;

}
.course__avatar{
  height: 137px;
  border-bottom: 1px solid lightgray;
  
}
.course__profile{
  margin-top: -37px;
  margin-left: 210px;
  position: absolute;
  
}
.course__bottom{
    /* height: 57px; */
    margin-left: 220px;

}
.course__icon{
  margin-right: 20px;
  margin-top: 1rem;
}