.sidebar{
  overflow-x: hidden;
  overflow-y: scroll; 
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    background-color: #fff;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 19rem;
    z-index: 990;
    
}
.sidebar__top{
  margin-top: 6px;
}
.sidebar__line{
  height: 0.2px;
  background-color:lightgray;
  margin-top: 4px;
  margin-bottom: 2px;
}
.sidebar__middle__top{
  letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 550;
    line-height: 1.25rem;
    color: #5f6368;
    display: flex;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sidebar__middle__todo{
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 64px;
  width: 258px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  margin-top: -23px;

}
.sidebar__middle__todo:hover{
  background-color: whitesmoke;
}
.sidebar__middle__todo>h3{
  letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-left: 20px;
}