.sidebartop{
 display: flex;
 align-items: center;
 padding-left: 22px;
 height: 56px;
 width: 258px;
 border-top-right-radius: 28px;
 border-bottom-right-radius: 28px;
}
.sidebar__name{
  letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 550;
    line-height: 1.25rem;
    color: #3c4043;
    margin-left: 20px;
}
.sidebartop:hover{
  background-color: whitesmoke;
}
